---
---
<header>
	<h1>
    <a href="/">
      投資学習ブログ
    </a>
  </h1>
  <div class="search-form">
    <form action="search">
      <input type="text" name="q" placeholder="キーワードを入力" />
      <button type="submit">検索する</button>
    </form>
  </div>
</header>

<style>
  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #eef3ff;
    border-bottom: 1px solid rgb(205, 205, 205);
    z-index: 100;
  }
  h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
  }
  a {
    color: black;
    text-decoration: none;
  }
  form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .search-form {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  input {
    width: 200px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
  }
  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
    border-radius: 0.25rem;
    color: black;
  }
  button:hover {
    background-color: black;
    transition: 0.3s;
    border-radius: 0.25rem;
    color: white;
  }
</style>
