---
---
<aside>
  <h2>カテゴリー</h2>
</aside>

<style>
  aside {
    background-color: #eef3ff;
    color: black;
    width: 180px;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
  }
</style>
